@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fourstar-bg {
  background: rgb(135, 34, 195);
  background: -moz-linear-gradient(
    0deg,
    rgba(135, 34, 195, 1) 0%,
    rgba(123, 45, 253, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(135, 34, 195, 1) 0%,
    rgba(123, 45, 253, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(135, 34, 195, 1) 0%,
    rgba(123, 45, 253, 1) 100%
  );
}
